@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #72bfed;
}

#partyConfirmationBtn{
  width: 390px;
  height: 90px;
  font-weight: 550;
  font-size: 25px;
  background-color: #30598a;
  color: whitesmoke;
  margin-bottom: 20px;
}

#partyConfirmationBanner{
  background-color: #F1B873;
}